<!doctype html>
<html>
<head>
    <title>Angular 2 - Seed</title>
    <base href="/">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<body>
<my-app>Loading...</my-app>

<!-- OPEN ISSUE THEY ARE NOT INJECTING IN ORDER
{% for (var js in o.htmlWebpackPlugin.files.js) { %}
    <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.js[js]%}"></script>
{% } %}-->
<script src="common.js"></script>
<script src="vendor.js"></script>
<script src="app.js"></script>

</body>
</html>
